 <h3>アカウント情報一覧</h3>
 
 <table>
   <thead>
     <tr>
       <th>メールアドレス</th>
       <th>パスワード</th>
     </tr>
   </thead>
   <tbody>
    <% @user.each do |user|%>
     <tr>
      <td><%= user.email%></td>
      <td><%= "* * * * * * *" %></td>
     </tr>
    <% end %>
   </tbody>
</table>

<%= link_to "アカウント情報編集", edit_user_registration_path %>
<%= link_to "ユーザープロフィール",  profile_users_path %>
<% @user.each do |user| %>
  <%= link_to "ユーザープロフィール編集",  [:edit, user] %>
<% end %>