<div class = "top_page">

 <% if flash[:notice] %>
   <p class="notice"><%= flash[:notice] %></p>
 <% end %>
 
<h1>Potepan Shareで<br>
まだ体験したことのない<br>
旅をしよう</h1>


<%= form_with(url: search_users_path, local: true, method: :get) do |form| %>
  <%= form.text_field :keyword, placeholder: "エリア名を入力" %>
  <%= form.text_field :free_keyword, placeholder: "キーワード名を入力"  %>
  <%= form.submit "検索" %>
<% end %>

</div>


<h2 class = recommend_area>おすすめエリア</h2>
<div class="recommend">
<a class="search_tokyo" href="http://localhost:3000/users/search?keyword=%E6%9D%B1%E4%BA%AC&free_keyword=&commit=%E6%A4%9C%E7%B4%A2"><span>東京</span><span>TOKYO</span></a>
<a class="search_osaka" href="http://localhost:3000/users/search?keyword=%E5%A4%A7%E9%98%AA&free_keyword=&commit=%E6%A4%9C%E7%B4%A2"><span>大阪</span><span>OSAKA</span></a>
<a class="search_kyoto" href="http://localhost:3000/users/search?keyword=%E4%BA%AC%E9%83%BD&free_keyword=&commit=%E6%A4%9C%E7%B4%A2"><span>京都</span><span>KYOTO</span></a>
<a class="search_sapporo" href="http://localhost:3000/users/search?keyword=%E6%9C%AD%E5%B9%8C&free_keyword=&commit=%E6%A4%9C%E7%B4%A2"><span>札幌</span><span>SAPPORO</span></a>
</div>


  

