<h2>プロフィール</h2>

<table>
   <thead>
     <tr>
       <th>画像</th>
       <th>名前</th>
       <th>自己紹介</th>
     </tr>
   </thead>
     
   <tbody>
     <% @user.each do |user| %>
      <tr>
        <td>
            <% if user.image.attached? %>
              <%= image_tag user.image, class: "image"%>
            <% else %>
              <div class = "images">
                <img src="https://rails-02-sample.herokuapp.com/assets/common/default-avatar-7a6cbfd7993e89f24bfc888f4a035a83c6f1428b8bdc47eed9095f2799a40153.png" alt="プロフィール画像" class="image">
              </div>
            <% end %>
         </td>
         <td><%= user.name %></td>
         <td><%= user.introduction %></td>
       </tr>
     <% end %>
  </tbody>
</table>
<%= link_to "アカウント情報", account_users_path %>
<%= link_to "アカウント情報編集", edit_user_registration_path %>
<% @user.each do |user| %>
<%= link_to "ユーザープロフィール編集",  [:edit, user] %>
<% end %>